<div class="section actions goto-exam-link">
    <a class="btn btn-lg btn-block btn-success" href="{{ path('simple_exam_create', {id: section.id}) }}">
        <i class="fa fa-check-square" aria-hidden="true"></i> {{ 'exam.start_exam'|trans }}
    </a>
</div>