<section class="sections">
    <div class="mb-4 wow fadeIn">
         {% for section in sections %}
            <div class="navigation">
                 <div class="post-list">
                    <!--Card image-->


                    <div class="post-list">
                        <h3>
                            <a href="{{ path('section.canonical', {slug: section.slug}) }}">
                                {{ section.title }}
                            </a>
                        </h3>
                        <!--Text-->
                        <p class="post-list">{{ section.description}}</p>
                    </div>
                </div>
            </div>

        {% endfor %}

    </div>
</section>
