{% extends 'base.html.twig' %}

{% block title %}ТКиОК{% endblock %}

{% block highlighted %}

    <div class="jumbotron">
        <div class="container">
            <div class="about-block">
                <h1>Техники коммуникации и основы командообразования</h1>
                <span>Обучающее пособие</span>
            </div>
        </div>
    </div>

{% endblock %}

{% block main %}

<div class="main-page-wrapper">

    <div class="book-sections">
        {{ include('main/_sections_list.html.twig') }}
    </div>
</div>
{% endblock %}
