{% extends 'base.html.twig' %}

{% block title %}ТКиОК{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Обучающее пособие по учебной дисциплине</h1>
    <p>"Техники коммуникации и основы командообразования"</p>
    {{ include('main/_sections_list.html.twig') }}
</div>
{% endblock %}
