{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    {#  <h1>Hello {{ controller_name }}! ✅</h1>#}
    <h1>Обучающее пособие по учебной дисциплине <br> "Техники коммуникации и основы командообразования"</h1>

    {#
    This friendly message is coming from:

    <ul>
        <li>Your controller at <code><a href="{{ '/var/www/html/src/Controller/MainController.php'|file_link(0) }}">src/Controller/MainController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/var/www/html/templates/main/index.html.twig'|file_link(0) }}">templates/main/index.html.twig</a></code></li>
    </ul>
   #}

    {{ include('main/_sections_list.html.twig') }}
</div>
{% endblock %}
