<div class="file well">
    <a class="file-link" target="_blank" href="{{ vich_uploader_asset(attachment, 'file') }}">
        <span class="mimetype">
            <i class="fa {{ mimetype_icon }}" aria-hidden="true"></i>
        </span>
        <span class="file-label">{{ attachment.getTitle }}</span>
    </a>
</div>